.card {
  display: grid; 
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; 
  padding: 20px; 
  background-color: #f4f4f4; 
  font-family: Arial, sans-serif; 
}

.titless {
  font-size: 24px; 
  color: black; 
  margin-bottom: 10px; 
  text-align: center; 
  width: 100%; 
  justify-content: space-evenly;
  align-items: start;
  display: grid;
  gap: 40px;
}

.content {
  background-color: white; 
  padding: 15px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  border-radius: 8px; 
  width: 100%; 
  text-align: center; 
  box-shadow: 0 0 10px rgb(0, 0, 0, .8);
}

.content img {
  width: 200px; 
  height: auto; 
  margin-bottom: 10px; 
}

.descripcion {
  font-size: 14px; 
  color: #333; 
  margin-bottom: 5px; 
}

.botones{
  background-color: transparent;
  cursor: pointer;
}
